.soil-thresholds {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
  align-items: start;
  width: 100%;
}

.soil-thresholds span {
  text-align: left !important;
}

.soil-thresholds span:last-child {
  text-align: right !important;
}

@media print {
  .soil-thresholds {
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
  }
}
